---
#      _       _    __ _ _
#   __| | ___ | |_ / _(_) | ___  ___
#  / _` |/ _ \| __| |_| | |/ _ \/ __|
# | (_| | (_) | |_|  _| | |  __/\__ \
#  \__,_|\___/ \__|_| |_|_|\___||___/


- name: Ensure required user directories exist
  ansible.builtin.file:
    path: "{{ user_home }}/{{ item }}"
    state: directory
    owner: "{{ user_id }}"
    group: "{{ user_gid }}"
  loop:
    - .cache
    - .cache/zsh
    - .cache/psql
    - .cache/node
    - .local
    - .local/bin
    - .local/share
    - .local/state
    - Projects

- name: Copy dotfiles
  ansible.builtin.copy:
    src: home/
    dest: "{{ user_home }}"
