# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Dependencies
node_modules/

# Distribution
dist/

# Dotenv
*.env
*.env.*

# Miscellaneous
.idea/*
.DS_Store
Thumbs.db
